/* @media (min-device-width: 640px) {
  body{
    width: 75%;
  } */

body {
  text-align: center;
  background-color: #4D575F
}


.title{
  font-family: 'Condiment',cursive;
  font-size: 60px;
  margin: 20px 20px 0px 20px;
}

.subheader-section{
  display:flex;
  flex-direction: row;
  justify-content: space-around;  
}

.random-hero {
  display:flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin:0;
}

.random-villain{
  display:flex;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  margin:0;
}

.search-section {
display:flex;
align-items: stretch;
justify-content: center;
margin: 20px;
}

.p-search-results {
 display: grid;
 grid-template-columns: .3fr 1.7fr;
 grid-template-rows: repeat(3, .25fr);
 gap: 15px 5px;
 grid-template-areas:
 ". ."
 ". ."
 ". .";
}

img {
  width:100px;
  height: auto;
}
.c1-poster {
grid-column-start: 1;
grid-row: span 3;
margin:10px;
justify-self: center;
align-items: start;
}

.c2-identity {
 grid-column-start: 2;
 justify-self: start;
 margin: 10px 0px 0px 0px;
}

.c3-occupation{
 grid-column-start: 2;
 justify-self: start;
 align-items: start;
 margin: 0px 0px 3px 0px;
}

.c4-affiliations {
grid-column-start: 2;
justify-self: start;
margin: 0px 0px 3px 0px;
}